body {
  font-family: Arial, Helvetica, sans-serif;
}
.sumario {
  display: inline-block;
  width: 25%;
  height: 25%;
  margin: -35px;
  margin-top: -10px;
}

.head {
  width: 75%;
  height: 75%;
  float: right;
  position: relative;
  text-align: justify;
  margin-right: 25px;
  /*letter-spacing: 1px;*/
}

.sumario li {
  list-style-type: none;
}

.rodape {
  font-size: 12px;
}
h4 {
  margin-bottom: 5px;
}
h5 {
  font-size: 15px;
}
.listacriterios ol {
  list-style-type: none;
  list-style-position: inside;
  display: inline;
}
.fonte ul {
  list-style-type: none;
  list-style-position: inside;
  display: inline;
}

#organizacao ul {
  list-style-type: none;
}

.titulodiretriz {
  color: #0000cd;
  margin-top: 30px;
  margin-bottom: 30px;
}
.titulocategoria {
  color: #000080;
}
.linha {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-right: 25px;
}
h1 {
  text-align: center;
}

.linharodape {
  display: block;
  width: 25%;
  height: 1px;
  background-color: black;

  margin-left: 0px;
}

.comofazer ol {
  list-style-position: inside;
  display: inline;
}

h5 {
  margin-bottom: -10px;
}

h2 {
  margin-top: 40px;
}
